@charset "UTF-8";
@import "reset.css";

.wrap {
    width: 100%;
    height: auto;
    padding-top: 450vh;
    background: #000;
}

.scroll-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.scroll-section .first-effect {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.first-effect-tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 77px;
    color: white;
    width: 80%;
    text-align: center;
}

.trigger {
    position: absolute;
    right: 0;
}

#trigger1 {

    top: 80vh;

}

#trigger2 {
    top: 120vh;
}

#trigger3 {
    top: 160vh;
}

#trigger4 {
    top: 200vh;
}
#trigger5 {
    top: 260vh;
}
#trigger6 {
    top: 300vh;
}
#trigger7 {
    top: 340vh;
}
#trigger8 {
    top: 340vh;
}
#trigger9 {
    top: 380vh;
}

#trigger10 {
    top: 380vh;
}

#trigger11 {
    top: 380vh;
}

#trigger12{
    top: 380vh;
}

#trigger13 {
    top: 440vh;
}

.scroll-icon {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollicon 0.4s infinite alternate;
}

@keyframes scrollicon {
    0% {
        transform: translate(-50%,0);
    }
    100%{
        transform: translate(-50%,-25px);
    }
}

.sec-effect {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.sec-effect h2 {
    font-size: 77px;
    color: white;
    text-align: center;
    position: relative;
}

.energy, .evolu {
    display: inline-block;
    position: relative;
}
.energy {
    color: #2eeeff;
}

.evolu {
    color: #f15e3e;
}

.energy:after, .evolu:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 101%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.energy:after {
    background: #2eeeff;
}
.evolu:after {
    background: #f15e3e;
}

.sec-effect h2 img {
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-47%);
    z-index: -1;
}
.third-effect {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.third-effect  h2 {
    font-size: 77px;
    color: white;
    text-align: center;
}

.circle-first {
    display: inline-block;
    position: relative;
}

.circle-first:after {
    display: block;
    width: 200%;
    height: 200%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-45px,-38px);
    background: url("../img/light02.png") no-repeat;
    z-index: -1;
}

.fourth-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-effect .inner-img {
    width: 800px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-effect .inner-img div {
    text-align: center;
}

.fourth-effect .inner-img div h3 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fourth-effect .inner-img div p {
    color: #cbcbcb;
    font-size: 18px;
    line-height: 22px;
}

.circle-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -25%;
}

.mid-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mid-text-content h2 {
    font-size: 77px;
    color: white;
}

.mid-text-content p {
    color: white;
    font-size: 42px;
}
#section-hidden05 {
    opacity: 0;
}
.six-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.six-effect h2 {
    font-size: 77px;
    color: white;
}

.six-effect p {
    color: white;
    font-size: 42px;
}

#section-hidden06 {
    opacity: 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#video source {
    width: 100%;
    height: 100%;
}

/* section 2 */


.main-02 {
    width: 100%;
    height: 100vh;
    background: url("../img/bg_sec02.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-section {
    max-width: 1400px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}

.news
{
    max-width: 700px;
    width: 50%;
    height: 340px;
    padding: 30px 40px;
    background: #fff;
}
.solution {
    max-width: 680px;
    width: 50%;
    height: 340px;
    margin-left: 20px;
    background: url("../img/bgimg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 40px;
}

.contact {
    margin-top: 20px;
    width: 100%;
    height: 180px;
    background: #db5437;
    position: relative;
    overflow: hidden;
}

.solution h4, .news h4 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    float: left;
    margin-bottom: 10px;
}
.solution a, .news a {
    float: right;
}

.solution p, .news p {
    width: 100%;
    float: left;
    color: white;
    font-size: 18px;
}

.news p {
    color: #696969;
    margin-bottom: 10px;
}
.news h4 {
    color: #222;
}

.news-table {
    width: 100%;
    max-height: 185px;
    height: 100%;
}

.news-table tr {
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
}

.news-table tr:first-child {
    border-top: 1px solid #e6e6e6;
}

.news-table tr td {
    height: 100%;
    
    padding-top: 15px;
    padding-bottom: 10px;
}

.news-table tr td:first-child {
    width: 12%;
    padding-top: 0px;
    padding-left: 5px;
    color: #f15e3e;
}

.news-table tr td:nth-child(2){
    padding-left: 12px;
} 

.news-table tr td:last-child {
    width: 12%;
}

.news-table tr td p {
    margin: 0;
}

.news-table tr td p:first-child {
    font-size: 22px;
    color: #222;
}

.news-table tr td p:last-child {
    font-size: 14px;
    color: #888;
}

.news-table tr td:last-child p {
    text-align: center;
}

.news-table tr td:last-child p:first-child {
    font-size: 44px;
    letter-spacing: 5px;
}

.contact img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 55px;
    right: 30px;
}

.contact-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.context-item h4 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    
    
}

.context-item p {


    color: white;
    font-size: 18px;
}

.contact-link {
    width: 210px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.contact-link a {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}